@import "tailwindcss";

input[type="checkbox"] {
  accent-color: green; /* Sets the highlight color for the checkbox */
}
input[type="radio"] {
  accent-color: brown; /* Sets the highlight color for the checkbox */
}

/* Custom blue scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 background */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* blue-500 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* blue-600 on hover */
}
